<div class="row">
	<ul class="nav navbar-nav navbar-right">
		<li>
			
	<a href="" ng-click="vm.setCurrentCategory(null)">Show All</a>
		</li>
	</ul>
	<div class="col-sm-4 sidebar">
		<ul class="nav nav-sidebar">	
			<li ng-repeat="category in vm.categories" ng-class="{'active':isCurrentCategory(category)}">
				<a href="" ng-click="vm.setCurrentCategory(category)">
					{{category.name}}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-8 main">
		<div ng-repeat="bookmark in vm.bookmarks | filter:{category:vm.currentCategory.name}">
			{{bookmark.name}}
		</div>
	</div>
</div>
